[Unit]
Description=System-wide timezone information
ConditionPathExists=|!/etc/localtime

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/timezone-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

